    <div class="footer_api">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-xs-12">
        <br>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p>Aplicaciones web o administrativas diseñadas en PHP, Laravel o Symphony</p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="copyr col-md-6 col-sm-6 col-xs-12">{{copyrightText}}</div> 
                <div class="contact col-md-6 col-sm-6 col-xs-12 text-right"><img class="letter" src="https://fmsdevelopment.com/img/sobre.png" alt="sobre"> 
                    <a href="https://fmsdevelopment.com/contact.html">Contactar</a></div>                        
            </div>                    
        </div>
    </div>  