	<div style = "margin-bottom:25px"> 
	<hr>
	</div>				
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-2 col-xs-12"> 
	<h3 style="float:none">API Symfony Standard Edition</h3>
	</div>
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-2 col-xs-12"> 
	<h3 style="float:none">========================</h3>
	</div>
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-2 col-xs-12"> 
        <h3 style="float:none">Endpoints:</h3>
        <ul> 
            <li>http://symf34.fmsdevelopment.com/api/asignaturas</li>
            <li>http://symf34.fmsdevelopment.com/api/asignaturas/'id'</li>
            <li>http://symf34.fmsdevelopment.com/api/asignaturas/nombre/'nombre'</li>
            <li>http://symf34.fmsdevelopment.com/api/profesores</li>
            <li>http://symf34.fmsdevelopment.com/api/profesores/'id'</li>
            <li>http://symf34.fmsdevelopment.com/api/profesores/nombre/'nombre'</li>
            <li>http://symf34.fmsdevelopment.com/api/estudios</li>
            <li>http://symf34.fmsdevelopment.com/api/estudios/'id'</li>
            <li>http://symf34.fmsdevelopment.com/api/estudios/nombre/'nombre'</li>
            <li>http://symf34.fmsdevelopment.com/api/asignaturas/'id'/profesores</li>     
            <li>http://symf34.fmsdevelopment.com/api/profesores/'id'/asignaturas</li>
        </ul>
		<p>Este es un proyecto de API rest construido en symfony 3.4</p>			
		<p>[1]:  https://symfony.com/doc/3.4/setup.html</p>
	</div>