<div class="row">
    <div id="headerClass" class="col-md-9 col-md-offset-1 col-lg-9 col-lg-offset-1 col-xs-12 ">  
        <nav class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12 nav-O2">
            <div style="">
                <h3 style="float:none">{{queryObjectSelected}}</h3>

                <div class="col-md-12 col-lg-12 col-xs-12" style="margin-top: 15px;"> 

                    <div class="col-md-12 col-lg-12 col-xs-12 list_templates">                    
                        <div class="col-md-8 col-lg-6 col-xs-12" style="margin-bottom: 5px;"> 
                            <label style="margin-right: 10px;">Mostrar todos</label> 
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12" style="margin-bottom: 20px;"> 
                            <button><a routerLink="/estudios" (click)="onClickAll()"   
                                class="btn btn-info" >Procesar</a>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12 col-xs-12 list_templates">
                        <div class="col-md-8 col-lg-6 col-xs-12" style="margin-bottom: 5px;"> 
                            <label style="margin-right: 10px;">Mostrar por Id</label> 
                            <input type="text" [(ngModel)]="idEstudio" name="est_byid" id="est_byid" 
                                title="Introduzca un número entero (vacío mostrará todos)" style="max-width: 30%;">
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12" style="margin-bottom: 20px;"> 
                            <button><a routerLink="/estudios/{{idEstudio}}" (click)="onClickById()"   
                                class="btn btn-info" >Procesar</a>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12 col-xs-12 list_templates">
                        <div class="col-md-8 col-lg-6 col-xs-12" style="margin-bottom: 5px;"> 
                            <label style="margin-right: 10px;">Buscar por texto</label> 
                            <input type="text" [(ngModel)]="nameSearched" name="est_byname" id="est_byname" 
                                title="Introduzca un texto o conjunto de letras a buscar" style="max-width: 30%;">
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12" style="margin-bottom: 20px;"> 
                            <button><a routerLink="/estudios/nombre/{{nameSearched}}" (click)="onClickByNombre()"
                                class="btn btn-info" >Procesar</a>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-lg-12 col-xs-12"  >                    
                    <div *ngIf="isEstudioArray===true">
                        <div *ngIf="status == 200" class="alert alert-success">
                            <h4>{{resultMessage}}</h4>
                        </div>
                        <div *ngIf="status != 200 && status != 0" class="alert alert-warning">
                            <h4>{{resultMessage}}</h4>
                        </div>
                        <div *ngIf="dataEstudio != ''" >                        
                            <div  *ngFor="let estudio of dataEstudio" style="">
                                <div  style="margin-bottom: 5px;"> 
                                <label style="margin-right: 10px;">ID: {{estudio.id}}</label> 
                                <label style="margin-right: 10px;">NOMBRE: {{estudio.nombre}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div *ngIf="isEstudioArray===false" style="">                        
                        <div *ngIf="status == 200" class="alert alert-success">
                            <h4>{{resultMessage}}</h4>
                        </div>
                        <div *ngIf="status != 200 && status != 0" class="alert alert-warning">
                            <h4>{{resultMessage}}</h4>
                        </div>                            
                        <div *ngIf="dataEstudio != ''"  style="margin-bottom: 5px;"> 
                            <label style="margin-right: 10px;">ID: {{dataEstudio.id}}</label> 
                            <label style="margin-right: 10px;">NOMBRE: {{dataEstudio.nombre}}</label>
                        </div>
                    </div>                    
                </div>
            </div>
        </nav>                
    </div>
</div>